[config]
schemaVersion = "0.0.1"


[package]
namespace = "SMarBe"
name = "Prioritize_Multiple_Keepsakes"
versionNumber = "0.0.1"
description = "Enhance existing incantation to enable prioritizing multiple keepsakes."
websiteUrl = "https://github.com/SMarechalBE/Hades-2-Prioritize-Multiple-Keepsakes"
containsNsfwContent = false

[package.dependencies]
Hell2Modding-Hell2Modding = "1.0.88"
LuaENVY-ENVY = "1.2.0"
SGG_Modding-Chalk = "2.1.1"
SGG_Modding-ReLoad = "1.0.2"
SGG_Modding-SJSON = "1.0.0"
SGG_Modding-ModUtil = "4.0.1"


[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[[build.copy]]
source = "./LICENSE"
target = "./LICENSE"

[[build.copy]]
source = "./src"
target = "./plugins"

[publish]
repository = "https://thunderstore.io"
communities = [ "hades-ii", ]

[publish.categories]
hades-ii = [ "mods", ]
